body {
    font-size: x-small;
}

#effect {
    width: 515px;
    height: 260px;
    padding: 0.4em;
    background: #fff;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
}

#smallname {
    width: 150px;
    height: 50px;
    float: left;
    margin-bottom: 10px;
    vertical-align: middle;
}

#buttonrow {
    width: 300px;
    height: 37px;
    margin-bottom: 10px;
    vertical-align: middle;
}

#program {
    width: 400px;
    height: 500px;
    padding: 0.4em;
    float: left;
    background: #fff;
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: 10px;
    font-size: xx-small;
}

.exercises li {
    width: 300px;
    height: 103px;
    padding: 0.4em;
    float: left;
    background: #fff;
    margin-bottom: 10px;
    margin-left: 10px;
}

.exercises li img {
    width: 100px;
    height: 100px;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}

.exercises li h4 {
    width: 150px;
    height: 50px;
    float: left;
    margin-bottom: 10px;
}

.exercise-entry {
    width: 300px;
    height: 103px;
    padding: 0.4em;
    float: left;
    background: #fff;
    margin-bottom: 10px;
    margin-left: 10px;
}

.program-tab {
    height: 455px;
    overflow: scroll;
}

.input.buttonrow {

}

#picture {
    width: 100px;
    height: 100px;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}

#description {
    width: 400px;
    height: 100px;
    float: left;
    margin-bottom: 10px;
}

#instructions {
    width: 512px;
    height: 100px;
    float: left;
}

#effect h3 {
    margin: 0;
    margin-bottom: 10px;
    padding: 0.4em;
    text-align: center;
}